/**** Quote Block Styles ****/
.component-quote {
	text-align: center;

	.quote-text {
		color: color('text', 'body');
		font-size: px-to-rem(28px);
		line-height: 1.43;
		letter-spacing: .5px;
		margin-bottom: $gap*2;
		text-align: center;
		position: relative;
		@include primary-bold;

		&:before {
			color: color('brand', 'accent');
			content: '\201C';
			font-size: px-to-rem(60px);
			left: -12px;
			line-height: .3;
			position: relative;
			top: 12px;
		}

		&:after {
			bottom: -14px;
			color: color('brand', 'accent');
			content: '\201D';
			font-size: px-to-rem(60px);
			line-height: .3;
			position: relative;
			right: -12px;
		}

		br {
			display: none;
		}
	}

	.quote-source {
		display: block;
		font-size: px-to-rem(16px);
		margin-bottom: $gap;
		@include primary-regular;
	}

	.quote-company {
		color: color('text', 'primary');
		display: block;
		font-size: px-to-rem(12px);
		text-transform: uppercase;
		letter-spacing: 2px;
		@include secondary-semi;
	}

	.image-wrapper {
		width: 54px;
		height: 54px;
		margin: 0 auto $gap;
	}
}