/**** Interactions & Animations ****/

/** Fade Me In **/
// Set initial styles before "faded-in" class added
.prepare-in-view {
	opacity: .5;
	transition: opacity .3s;

	&.element-in-view {
		opacity: 1;
		transition: opacity .3s;
	}
}

.element-in-view {
	opacity: 1;

	img {
		opacity: 1;
	}
}



// Helper class for load-more script animations. Newly ajaxed in elements have this class on load
// Class is removed after elements loaded
.new-elements {
	opacity: 0;
}

//Helper class to Slide In an element
.slideIn {
	animation: moveUp 0.65s ease forwards;
	opacity: 1;
	transform: translateY(200px);
}

@keyframes moveUp {
	0% {}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

//Helper class to Fade In an element
.fadeIn {
	animation: fadeIn .7s ease forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		
		opacity: 1;
	}
}

//Helper class to Fade In an element
.fadeOut {
	animation: fadeOut .7s ease forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		
		opacity: 0;
	}
}

// Apply to a row or column, and makes the component
// overlap whatever is above it by 100px;
.slide-up-component {
	.component {
		margin-top: -100px;
	}
}
