/*** Hide classes ***/

.small-hidden {
	@include mediaquery-max-width(tablet-portrait) {
		display: none;
	}

	@include mediaquery(tablet-portrait)  {
		display: inherit;
	}
}

.medium-hidden {
	@include mediaquery-max-width(tablet-portrait) {
		display: inherit;
	}

	@include mediaquery(tablet-portrait)  {
		display: none;
	}

	@include mediaquery(tablet-landscape)  {
		display: inherit;
	}
}

.large-hidden {
	@include mediaquery-max-width(tablet-landscape) {
		display: inherit;
	}

	@include mediaquery(tablet-landscape)  {
		display: none;
	}

	@include mediaquery(desktop)  {
		display: inherit;
	}
}

.xl-hidden {
	display: inherit;

	@include mediaquery(desktop)  {
		display: none;
	}
}

// NOTE: Find out which elements use class="front-end". -DP
// hidden always
.front-end {
	.hidden {
		display: none !important;
		visibility: hidden;
	}
}

.hide,
.hidden {
	display: none !important;
	visibility: hidden;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
	visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}