/**** Images ****/

img {
	height: auto;
	width: 100%;
	display: block;
}


/** Responsive Aspect Ratio Image **/
// Available as class OR mixin
.responsive-image {
	display: block;
	height: auto;
	left: -50%;
	margin: 0 auto;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	right: -50%;
	top: 0;
	width: auto;
	z-index: 1;
}


@mixin responsiveImage {
	display: block;
	height: auto;
	left: -50%;
	margin: 0 auto;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	right: -50%;
	top: 0;
	width: auto;
	z-index: 1;
}

// set padding-bottom as percentage in individual style sheet as appropriate or use mixin
.responsive-wrapper {
	height: 0;
	overflow: hidden;
	position: relative;
}

@mixin responsiveWrapper($paddingBottom){
	height: 0;
	overflow: hidden;
	padding-bottom: $paddingBottom;
	position: relative;
}


/** Image alignment for images added via WYSIWYG **/
.post-img, .alignnone, .none {
	margin-bottom: $gap*3;
	max-width: 100%;
	width: auto;

	@include mediaquery(tablet-portrait)  {
		margin-left: -10%;
		max-width: 120%;
		width: 120%;
	}

	&.alignleft {
		clear: left;
		float: left;
		margin-right: $gap*.5;
		max-width: 100%;
		width: auto;
	}

	&.alignright {
		clear: right;
		float: right;
		margin-left: $gap*.5;
		margin-right: -10%;
		max-width: 100%;
		width: auto;
	}
}

/** Othe Image styles **/

.fill-image {
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
}

.gallery img {
	// Overrides wysiwyg gallery border. cannot remove all the
	// styles programmatically without causing layout issues.
	border: 0 !important;
}

img.drop-shadow, .drop-shadow img {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
}
