/**** Standard Layout Paradigm Mixins ****/

@mixin verticalCenter() {
	display: flex;
	align-items: center;
}

@mixin allCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin horizontalCenter() {
	display: flex;
	justify-content: center;
}

@mixin cssColumns($columns, $colGap, $break) {
	column-count:$columns;
	column-gap: $colGap;
	page-break-inside: $break; /* Firefox */
	break-inside: $break;
}


//===
// Clearfix: contain floats
// Available as class or mixin
.clearfix:before,
.clearfix:after {
	content: " "; // 1
	display: table; // 2
}

.clearfix:after {
	clear: both;
}

@mixin clearRow {
	&:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		width: 100%;
	}
}
