/**** Popups and Overlays ****/

/** Page cover modal **/
.page-cover-modal {
	background-color: $modalColor; //change color to spec in colors
	bottom: 0;
	height: 100vh;
	left: 0;
	opacity: 1;
	position: fixed;
	right: 0;
	top: 0vh;
	transition-delay: 1s;
	transition: z-index 1s ease-out, opacity 1s ease-out, background-color 1s ease-out;
	width: 100%;
	z-index: 10010;

	//once dom is loaded, remove modal
	.dom-loaded & {
		z-index: -1;
		opacity: 0;
	}
}


/** Pop ups **/
.video-popup, .image-popup {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	width: 100%;
	background-color: $popupColor;  //change color to spec in colors
	z-index: 1000;
	display: none;
	top: 0;
	left: 0;

	iframe {
		@include mediaquery(tablet-landscape)  {
			bottom: 0;
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 80%;
			margin: 0 auto;
		}
	}

	.image-inner {
		max-width: 100%;
		margin: 0 auto;
		position: relative;

		@include mediaquery(tablet-landscape)  {
			max-width: 70%;
		}
	}
}

.form-popup {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	width: 100%;
	background-color: $popupColor;
	z-index: 1000;
	display: none;
	top: 0;
	left: 0;

	.form-popup-inner {
		background-color: $white;
		position: relative;
		max-width: 596px;
		width: 90%;
		padding: 40px;

		@include mediaquery(tablet-landscape)  {
			padding: 85px;
		}
	}

	.popupOpen & {
		@include allCenter;
	}
}

.search-popup {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	width: 100%;
	background-color: $black;
	z-index: 999;
	display: none;
	top: 0;
	left: 0;

	.searchOpen & {
		@include allCenter();
	}

	form {
		margin: 0 auto;
		max-width: 680px;
		width: 90%;
	}
}

// NOTE: (DP) Here be dragons. Thou art forewarned
.modal-blackout {
	background: black;
	bottom: 0;
	display: none;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
	transition: opacity .5s linear;

	&.visible {
		opacity: 1;
		transition: opacity .5s linear;
	}

	.show-blackout-modal & {
		display: block;
	}

	.dom-loaded & {
		opacity: 0;
	}

	.dom-loaded.dom-has-been-loaded-for-two-seconds & {
		display: none;
	}

	// .window-loaded.window-has-been-loaded-for-two-seconds.show-blackout-modal & {
	.dom-loaded.dom-has-been-loaded-for-two-seconds.show-blackout-modal & {
		display: block;

		&.visible {
			opacity: 1;
		}
	}
}