// styles for styleguide
.styleguide {
	padding:$gap*2;

	th {
		padding:$gap;
		text-align: left;
		width: 200px;
		vertical-align: middle;
		@extend .body;
	}

	td {
		padding:$gap;
		vertical-align: middle;
	}

	.color-grid {
		height: 60px;
	}
}