/**** Global Twitter Styles ****/

.component-twitter {
	min-height: 0;
	max-height: 1000px;

	@include mediaquery(tablet-portrait)  {
		min-height: 624px;
		max-height: 1000px;
	}

	&.hidePost {
		min-height: 0;
		max-height: 0;
		overflow: hidden;
	}

	.twitter-header {
		display: flex;
		align-items: center;

		img {
			width: 36px;
			height: 36px;
			margin-right: $gap;
		}

		.subheadline2 {
			margin-bottom: 6px;
		}
	}

	// SmashBallon Overrides
	#ctf {
		&.ctf-styles {
			.ctf-author-screenname {
				display: none;
			}

			.ctf-tweet-meta {
				text-transform: uppercase;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			
			.ctf-author-name {
				color: color('text', 'body');
			}
		}

		.ctf-author-box-link {
			display: flex;
			align-items: center;
		}

		.ctf-tweet-content {
			margin-left: 0;
			padding-top: $gap;
			clear: left;
		}

		.ctf-item {
			@extend .component-top-border;
			padding: $gap*2 0 $gap*2 0;
			margin: $gap*2 0 0 0;
			position: relative;

			&:first-child {
				@extend .component-top-border;
			}
		}
	}
}
