/*** Single Post Header ***/

.component-post-header {
	.featured-image {
		height: 300px;
		overflow: hidden;

		@include mediaquery(tablet-landscape)  {
			height: 400px;
		}

		img {
			object-fit: cover;
    		object-position: center center;
	  		height: 300px;

			@include mediaquery(tablet-landscape)  {
				height: 400px;
			}
		}

	}
}