/**** Global Newsletter Styles ****/

.component-newsletter {
	//MailChimp Overrides
	#mc_embed_signup_scroll {
		h2, .indicates-required, label {
			display: none;
		}
	}

	::placeholder{
		color: $white;
	} 

	input[type=email] {
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, .5);
		color: $white;
		margin-bottom: $gap;
	}

	input.cta {
		@extend .cta;
		@extend .cta-negative;
	}
}
