.component-paragraph {
	.is-style-body1 p, .is-style-body1 {
		@extend .body1 !optional;

	}

	.is-style-body2 p, .is-style-body2 {
		@extend .body2 !optional;
	}

	.is-style-body3 p, .is-style-body3 {
		@extend .body3 !optional;
	}

	&.is-style-text-columns .mce-content-body {
		@extend .text-columns;
	}

	a {
		color: color('text', 'link');
		text-decoration: none;
		transition: color .05s ease-out;

		@include mediaquery(desktop) {
			&:hover {
				opacity: 1;
				color: color('text', 'hover');
			}
		}
	}
}
