//--------------------------------------------------------------
// Editor Styles
//
/**** Margin ****/

.margin-wrapper {
	.margin-inner-wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		border-bottom: 1px solid darkgray;
    	margin-bottom: 14px;

		.components-panel__row {
			width: 48%;
			margin-right: 4%;

			&:nth-child(2n+1) {
				margin-right: 0;
			}
		}

		.components-panel__body-title {
			width: 100%;
			margin-bottom: 0;
		}
		
	}
}
