//--------------------------------------------------------------
// Editor Styles
//
// Additional styles necessary to assist the editor.
// Enqueued after style.scss.
//--------------------------------------------------------------
.wds-background-options {

	.blocks-base-control {
		width: 100%;
	} // .blocks-base-control

	.components-button {

		svg {
			position: relative;
			top: 5px;
		} // svg
	} // .components-button
} // .wds-background-options

//-----------------------------------------
// Video Background
//-----------------------------------------
.component-video-background {
	overflow: hidden;
	position: relative;

	.video-container {
		height: 100%;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		object-fit: none;
		object-position: center center;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		width: 100%;
		z-index: -1;
	} // .video-container
} // .has-video-background


//-----------------------------------------
// Image Background
//-----------------------------------------
.component-image-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
} // .has-image-background

$yPositions: top, center, bottom;
$xPositions: left, right, center;

@each $yPosition in $yPositions{
  	@each $xPosition in $xPositions{

		.component-background-#{$xPosition}-#{$yPosition} { 
			background-position: #{$xPosition} #{$yPosition};
		}
	}
}

@each $xPosition in $xPositions{

	.component-background-position-x-#{$xPosition} { 
		background-position-x: #{$xPosition};
	}
}

@each $yPosition in $yPositions{

	.component-background-position-y-#{$yPosition} { 
		background-position-y: #{$yPosition};
	}
}